<template>
  <div>
    <li class="collection-item ct" v-if="!to_change">
      <a href="#edit" v-on:click="to_change = true"><span class="new badge blue" data-badge-caption="">edit</span></a>

      {{ book.name }}
    </li>
    <div class="collection-item orange lighten-5" v-else-if="to_change">
      <form @submit.prevent="changeBookName">
        <input type="text" v-model="book.name">
        <button type="submit" class="btn waves-effect waves-light orange">Change name</button> &nbsp;
        <a href="#remove" class="waves-effect waves-light btn red" v-on:click="toRemove">Remove</a>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ['book'],
  data() {
    return {
      to_change: false
    }
  },
  methods: {
    changeBookName() {
      if (this.book.name.trim()) {
        const Book = {
          id: this.book.id,
          section_id: this.book.section_id,
          name: this.book.name
        };
        console.log(Book);
        this.$emit('ed-book', Book)
      }
      this.to_change = false;
    },
    toRemove() {
      this.$emit('rm-book', this.book.id)
      this.to_change = false;
    }
  }
}
</script>

<style scoped>
  .ct {
    list-style-type: none;
    border-top: #EEE 1px solid;
  }
</style>