<template>
  <form @submit.prevent="onSubmit">
    <input v-model="new_book_name" type="text" placeholder="Type new book name" />
    <button type="submit" class="btn waves-effect waves-light">Add book</button>
  </form>
</template>

<script>
  export default {
    props: ['section_id'],
    data() {
      return {
        new_book_name: ''
      }
    },
    methods: {
      onSubmit() {
        if (this.new_book_name.trim()) {
          const Book = {
            section_id: this.section_id,
            name: this.new_book_name
          }
          this.new_book_name = ''
          this.$emit('new-book', Book)
        }
      }
    }
  }
</script>