<template>
    <div>
      <h5>Books</h5>
      <div v-if="section_id">
        <div class="collection">
          <BookItem
              v-if="books.length != 0"
              v-for="book in books"
              v-bind:book="book"
              v-on:rm-book="removeBook"
              v-on:ed-book="editBook"
          />
          <div v-else-if="books.length == 0" class="collection-item">No books</div>
        </div>
        <BookForm
            v-bind:section_id="section_id"
            v-on:new-book="newBook"
        />
      </div>
      <div v-else-if="!section_id" class="col s8">Select section</div>
    </div>
</template>

<script>
import BookItem from './BookItem.vue'
import BookForm from './BookForm.vue'
import Axios from "axios";

export default {
  props: ['books', 'section_id'],
  data() {
    return {
      r: null,
      url: 'http://localhost:3000/book/'
    }
  },
  components: {
      BookItem,
      BookForm
  },
  methods: {
    async newBook(book) {
      console.log('new: ' + book.name + ', go to: ' + this.section_id)
      await Axios.post(this.url, book)
      this.$emit('update-book-list', this.section_id)
    },
    async removeBook(id) {
      console.log('remove: ' + id + ', go to: ' + this.section_id)
      await Axios.delete(this.url+id)
      this.$emit('update-book-list', this.section_id)
    },
    async editBook(book) {
      console.log('edit: ' + book.id)
      await Axios.patch(this.url + book.id, book)
      this.$emit('update-book-list', this.section_id)
    }
  }
}
</script>
