<template>
    <div>
      <h5>
        Sections
        <a href="#" v-on:click="showForm"><i class="material-icons">edit</i></a>
      </h5>

      <SectionForm
          v-if="isShowForm"
          v-bind:section="section"
      />

      <div class="collection">
          <SectionItem
              v-for="section of sections"
              v-bind:section="section"
              v-on:show-books="showBooks"
              v-on:get-section-data="setSectionData"
          />
      </div>
    </div>
</template>

<script>
import SectionItem from './SectionItem.vue'
import SectionForm from './SectionForm.vue'

export default {
    props: ['sections'],
    data() {
      return {
        isShowForm: false,
        section: {}

      }
    },
    components: {
        SectionItem,
        SectionForm
    },
  methods: {
    showBooks(id) {
      this.$emit('show-books', id)
    },
    showForm() {
      this.isShowForm = !this.isShowForm
    },
    setSectionData(section) {
      this.section = section
    }

  }

}
</script>

<style>

</style>