<template>
  <div>
    <div class="card-panel green lighten-5">
      <strong>Add Subsection:</strong>
      <form @submit.prevent="addNewSubSection">
        <input placeholder="../" class="inline" v-model="newSubSectionName">
        <button type="submit" class="btn waves-effect waves-light inline">Add subsection</button>
      </form>
    </div>

    <div class="card-panel orange lighten-5" v-if="section.id">
      <strong>Rename or remove:</strong>
      <form @submit.prevent="renameExistsSubSection">
        <input placeholder="type new name" class="inline" v-model="section.name">
        <button type="submit" class="btn waves-effect waves-light inline orange">Rename</button>&nbsp;
        <a href="#remove" class="waves-effect waves-light btn red" v-on:click="removeExistsSubSection">Remove</a>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: ['section'],
  data() {
    return {
      url: 'http://localhost:3000/section/',
      newSubSectionName: ''
    }
  },

  methods: {
    async addNewSubSection() {
      // Add new item to Section model
      console.log('subs: ' + this.newSubSectionName)
      if (this.newSubSectionName.trim()) {
        if (!this.section.id) {
          const Section = {
            parent_id: 1,
            name: this.newSubSectionName
          }
          await axios.post(this.url, Section)
        } else  {
          const Section = {
            parent_id: this.section.id,
            name: this.newSubSectionName
          }
          await axios.post(this.url, Section)
        }
      }
    },

    async renameExistsSubSection() {
    //  Rename exists item of Section model
      if (this.section.name.trim() && this.section.parent_id) {
        const Section = {
          parent_id: this.section.parent_id,
          name: this.section.name
        }
        await axios.patch(this.url + this.section.id, Section)
      }
    },

    async removeExistsSubSection() {
    //  Remove e i os Section model
      if (this.section.id) {
        await axios.delete(this.url + this.section.id)
        console.log('removed')
      }
    }
  }
}
</script>