<template>
  <div>
    <a href="#" class="collection-item" v-on:click="extractSectionData">
      {{ section.name }}
    </a>
    <SectionItem
        v-if="getCollection"
        v-for="section of sections"
        v-bind:section="section"
        v-on:show-books="showBooks"
        v-on:get-section-data="setSectionData"
    />
  </div>
</template>

<script>
import SectionForm from './SectionForm.vue'
import axios from "axios";

export default {
    props: ['section'],
    data() {
      return {
        getCollection: false,
        sections: [],
        p_left: 0
      }
    },
    components: {
      SectionForm
    },
  methods: {
      extractSectionData() {
        this.$emit('show-books', this.section.id)
        this.$emit('get-section-data', this.section)
        this.setSectionData(this.section)
        this.getSubItems(this.section.id)
      },
      getSubItems(sid) {
        this.getCollection = !this.getCollection;
        axios.get('http://localhost:3000/fetch_subs/'+sid)
            .then(response => (this.sections = response.data));
      },
      showBooks(id) {
        this.$emit('show-books', id)
      },
      setSectionData(section) {
        this.$emit('get-section-data', section)
      }

  }
}
</script>