<template>
  <div class="container">
    <header>
      <h1><a href="/">Catalogue</a></h1>
    </header>
    <div class="row">
      <SectionsTree class="col s4"
                    v-bind:sections="sections"
                    v-on:show-books="showBooks"
      />
      <BooksList class="col s8"
                 v-bind:books="books"
                 v-bind:section_id="current_section"
                 v-on:update-book-list="showBooks"
      />
    </div>
  </div>
</template>

<script>
import SectionsTree from './components/SectionsTree.vue'
import BooksList from './components/BooksList.vue'
import axios from "axios";

export default {
  name: 'App',
  data() {
    return {
      sections: [],
      current_section: null,
      books: []
    }
  },

  mounted() {
    // GET ROOT SUB ITEMS
    axios.get('http://localhost:3000/fetch_subs/1')
      .then(response => (this.sections = response.data));
  },

  methods: {
    showBooks(id) {
      axios.get('http://localhost:3000/fetch_books/' + id)
        .then(response => (this.books = response.data));
      this.current_section = id;
    }
  },

  components: {
    SectionsTree,
    BooksList,
  }
}
</script>